<div class="row">
  <div class="col s12">
    <div class="comment">
      <p>{{content}}</p>
      <div class="comment-info">
        <p>{{user.username}}</p>
        <p>{{format_dateTime date_created}}</p>
      </div>
    </div>
  </div>
</div>