<h1>Welcome {{user.name}}!</h1>
 <button onclick="document.location.assign('/dashboard/post')" class="waves-effect waves-light btn">New Post</button>
{{#each user.posts as |post|}}
{{> userPosts-details}}
{{/each}}