
<div style="margin:auto; display: flex; flex-direction:column; justify-contents:center; width:fit-content">
<h1 style="text-align: center;">Welcome {{user.name}}!</h1>
 <button onclick="document.location.assign('/dashboard/post')" class="waves-effect waves-light btn">New Post</button>
</div>
{{#each user.posts as |post|}}
{{> userPosts-details}}
{{/each}}